
  <body>
    
    <form>
      <h2 class="text-primary">Angular test area ng-model example</h2>
      <hr>
      <div class="form-group">
        <h3 class="text-success">Test Area</h3>
        <textarea class="form-control" rows="8" id="commentText" placeholder="Notes" ng-model="myText"></textarea>
      </div>

      <button type="button" class="btn btn-success" ng-click="saveToLocalStorage()">Save Changes</button>
      
      <hr>
      <h2 class="text-primary">Stored Text</h2>
      <textarea class="form-control" rows="8" id="commentText" placeholder="Notes" ng-model="dysplayText"></textarea>
    </form>
    
  </body>
