<div class="container">
	<div class="panel" style="display: inline-block;">
		<div class="panel-heading">
			<h1 class="panel-title">
				Lista questionari ancora da compilare
				<!-- inizio aggiorna pagina -->
				<div class="control-table" align="right">
					<a href="#/insert-new-usersurveytoken"
						class="btn-control btn-control-new" role="button"></a> <a href=""
						class="btn-control btn-control-reload" ng-click="listUSToken()"
						role="button"></a>
					<div class="progress progress-reload" ng-click="autoReload()">
						<div id="ustokenbar" class="progress-bar progress-bar-reload"
							role="progressbar" style="width: {{reloadUSToken}}%"></div>
					</div>
				</div>
				<!-- fine aggiorna pagina -->
			</h1>
		</div>
		<!-- inizio questionari attivi -->
		<div class="panel-body">
			<div id="data-table-default_wrapper"
				class="dataTables_wrapper form-inline dt-bootstrap no-footer">

				<div class="row">
					<div class="col-sm-6">
						<div class="dataTables_length" id="data-table-default_length">
							<!-- 							<label>Show <select name="data-table-default_length" -->
							<!-- 								aria-controls="data-table-default" class="form-control input-sm"> -->
							<!-- 									<option value="10">10</option> -->
							<!-- 									<option value="25">25</option> -->
							<!-- 									<option value="50">50</option> -->
							<!-- 									<option value="100">100</option> -->
							<!-- 							</select> entries -->
							<!-- 							</label> -->
						</div>
					</div>
					<div class="col-sm-6">
						<div id="data-table-default_filter" class="dataTables_filter">
							<label>Cerca: <input type="search" ng-model="search"
								class="form-control input-sm" placeholder=""
								aria-controls="data-table-default"></label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<table id="data-table-default"
							class="table table-striped table-bordered dataTable no-footer dtr-inline"
							role="grid" aria-describedby="data-table-default_info"
							style="width: 1040px;">
							<thead>
								<tr>
									<th>Email</th>
									<th>Nome</th>
									<th>Cognome</th>
									<th>Titolo questionario assegnato</th>
									<th>Data di scadenza</th>
									<th width="100"></th>
									<th width="100"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="current in list | filter:search"
									class="gradeX odd" role="row">
									<td>{{current.email}}</td>
									<td>{{current.firstname}}</td>
									<td>{{current.lastname}}</td>
									<td>{{current.surveyLabel}}</td>
									<td>{{current.expirationdate}}</td>
									<td>
										<button type="button"
											ng-click="deleteUserSurveyToken(current.id)"
											class="btn btn-danger custom-width">
											<span class="glyphicon glyphicon-remove"> </span>Elimina
										</button>
									</td>
									<td>
										<button type="button" ng-click="sendEmail(current.id)"
											class="btn btn-success custom-width">
											<span> </span> Invia questionario <i class="fa fa-envelope-o"></i>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- 				<div class="row"> -->
				<!-- 					<div class="col-sm-7"> -->
				<!-- 						<div class="dataTables_paginate paging_simple_numbers" -->
				<!-- 							id="data-table-default_paginate"> -->
				<!-- 							<ul class="pagination"> -->
				<!-- 								<li class="paginate_button previous disabled" -->
				<!-- 									id="data-table-default_previous"><a href="#" -->
				<!-- 									aria-controls="data-table-default" data-dt-idx="0" tabindex="0">Previous</a></li> -->
				<!-- 								<li class="paginate_button active"><a href="#" -->
				<!-- 									aria-controls="data-table-default" data-dt-idx="1" tabindex="0">1</a></li> -->
				<!-- 								<li class="paginate_button "><a href="#" -->
				<!-- 									aria-controls="data-table-default" data-dt-idx="2" tabindex="0">2</a></li> -->
				<!-- 								<li class="paginate_button "><a href="#" -->
				<!-- 									aria-controls="data-table-default" data-dt-idx="3" tabindex="0">3</a></li> -->
				<!-- 								<li class="paginate_button "><a href="#" -->
				<!-- 									aria-controls="data-table-default" data-dt-idx="4" tabindex="0">4</a></li> -->
				<!-- 								<li class="paginate_button "><a href="#" -->
				<!-- 									aria-controls="data-table-default" data-dt-idx="5" tabindex="0">5</a></li> -->
				<!-- 								<li class="paginate_button "><a href="#" -->
				<!-- 									aria-controls="data-table-default" data-dt-idx="6" tabindex="0">6</a></li> -->
				<!-- 								<li class="paginate_button next" id="data-table-default_next"><a -->
				<!-- 									href="#" aria-controls="data-table-default" data-dt-idx="7" -->
				<!-- 									tabindex="0">Next</a></li> -->
				<!-- 							</ul> -->
				<!-- 						</div> -->
				<!-- 					</div> -->
				<!-- 				</div> -->
			</div>
		</div>
		<!-- fine questionari attivi -->
	</div>

	<div class="panel" style="display: inline-block;">
		<div class="panel-heading">
			<h1 class="panel-title">
				Lista questionari già compilati
				<!-- inizio aggiorna pagina -->
<!-- 				<div class="control-table" align="right"> -->
<!-- 					<a href="#/insert-new-usersurveytoken" -->
<!-- 						class="btn-control btn-control-new" role="button"></a> <a href="" -->
<!-- 						class="btn-control btn-control-reload" ng-click="listUSToken()" -->
<!-- 						role="button"></a> -->
<!-- 					<div class="progress progress-reload" ng-click="autoReload()"> -->
<!-- 						<div id="ustokenexpiredbar" class="progress-bar progress-bar-reload" -->
<!-- 							role="progressbar" style="width: {{reloadUSToken}}%"></div> -->
<!-- 					</div> -->
<!-- 				</div> -->
				<!-- fine aggiorna pagina -->
			</h1>
		</div>
		<!-- inizio questionari esausti -->
		<div class="panel-body">
			<div id="data-table-default_wrapper"
				class="dataTables_wrapper form-inline dt-bootstrap no-footer">

				<div class="row">
					<div class="col-sm-6">
<!-- 						<div class="dataTables_length" id="data-table-default_length"> -->
<!-- 							<label>Show <select name="data-table-default_length" -->
<!-- 								aria-controls="data-table-default" class="form-control input-sm"> -->
<!-- 									<option value="10">10</option> -->
<!-- 									<option value="25">25</option> -->
<!-- 									<option value="50">50</option> -->
<!-- 									<option value="100">100</option> -->
<!-- 							</select> entries -->
<!-- 							</label> -->
<!-- 						</div> -->
					</div>
				<div class="col-sm-6">
					<div id="data-table-default_filter" class="dataTables_filter">
						<label>Cerca: <input type="search" ng-model="searchexp"
							class="form-control input-sm" placeholder=""
							aria-controls="data-table-default"></label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<table id="data-table-default"
						class="table table-striped table-bordered dataTable no-footer dtr-inline"
						role="grid" aria-describedby="data-table-default_info"
						style="width: 1040px;">
						<thead>
							<tr>
								<th>Email</th>
								<th>Nome</th>
								<th>Cognome</th>
								<th>Titolo questionario assegnato</th>
								<th>Data di scadenza</th>
								<th width="100"></th>
<!-- 								<th width="100"></th> -->
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="curExpired in listexpired | filter:searchexp"
								class="gradeX odd" role="row">
								<td>{{curExpired.email}}</td>
								<td>{{curExpired.firstname}}</td>
								<td>{{curExpired.lastname}}</td>
								<td>{{curExpired.surveyLabel}}</td>
								<td>{{curExpired.expirationdate}}</td>
								<td>
									<button type="button"
										ng-click="deleteUserSurveyToken(curExpired.id)"
										class="btn btn-danger custom-width">
										<span class="glyphicon glyphicon-remove"> </span>Elimina
									</button>
								</td>
<!-- 								<td> -->
<!-- 									<button type="button" ng-click="sendEmail(curExpired.id)" -->
<!-- 										class="btn btn-success custom-width"> -->
<!-- 										<span> </span> Invia questionario <i class="fa fa-envelope-o"></i> -->
<!-- 									</button> -->
<!-- 								</td> -->
							</tr>
						</tbody>
					</table>
				</div>
<!-- 			</div> -->
<!-- 			<div class="row"> -->
<!-- 				<div class="col-sm-7"> -->
<!-- 					<div class="dataTables_paginate paging_simple_numbers" -->
<!-- 						id="data-table-default_paginate"> -->
<!-- 						<ul class="pagination"> -->
<!-- 							<li class="paginate_button previous disabled" -->
<!-- 								id="data-table-default_previous"><a href="#" -->
<!-- 								aria-controls="data-table-default" data-dt-idx="0" tabindex="0">Previous</a></li> -->
<!-- 							<li class="paginate_button active"><a href="#" -->
<!-- 								aria-controls="data-table-default" data-dt-idx="1" tabindex="0">1</a></li> -->
<!-- 							<li class="paginate_button "><a href="#" -->
<!-- 								aria-controls="data-table-default" data-dt-idx="2" tabindex="0">2</a></li> -->
<!-- 							<li class="paginate_button "><a href="#" -->
<!-- 								aria-controls="data-table-default" data-dt-idx="3" tabindex="0">3</a></li> -->
<!-- 							<li class="paginate_button "><a href="#" -->
<!-- 								aria-controls="data-table-default" data-dt-idx="4" tabindex="0">4</a></li> -->
<!-- 							<li class="paginate_button "><a href="#" -->
<!-- 								aria-controls="data-table-default" data-dt-idx="5" tabindex="0">5</a></li> -->
<!-- 							<li class="paginate_button "><a href="#" -->
<!-- 								aria-controls="data-table-default" data-dt-idx="6" tabindex="0">6</a></li> -->
<!-- 							<li class="paginate_button next" id="data-table-default_next"><a -->
<!-- 								href="#" aria-controls="data-table-default" data-dt-idx="7" -->
<!-- 								tabindex="0">Next</a></li> -->
<!-- 						</ul> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
		</div>
	</div>
	<!-- fine questionari esausti -->
</div>
</div>