<div class="container">
	<div class="panel">
		<div class="panel-heading">
			<h1 class="panel-title">Modifica candidato</h1>
		</div>
		<div class="panel-body ">
			<div class="container">
				<form ng-submit="submitUserForm()" name="myForm"
					class="form-horizontal">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="firstname">Nome</label>
						<div class="col-md-7">
							<input type="text" name="firstname"
								ng-model="candidateCustom.firstname"
								class="form-control input-sm" placeholder="Inserisci nome" maxlength="50"/>
						</div>
					</div>

					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="lastname">Cognome</label>
						<div class="col-md-7">
							<input type="text" name="lastname"
								ng-model="candidateCustom.lastname"
								class="form-control input-sm" placeholder="Inserisci cognome" maxlength="50" />
						</div>
					</div>

					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="email">E-Mail</label>
						<div class="col-md-7">
							<input type="text" name="email" ng-model="candidateCustom.email"
								class="form-control input-sm" placeholder="Inserisci email" maxlength="100" />
						</div>
					</div>

					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="dateOfBirth">Data
							di nascita</label>
						<div class="col-md-7">
							<input type="date" name="dateOfBirth" 
								placeholder="yyyy-MM-dd" 
								ng-model="dateOfBirth"
								class="form-control input-sm"
								ng-value="candidateCustom.dateOfBirth" />
						</div>
					</div>

					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="domicileCity">Domicilio</label>
						<div class="col-md-7">
							<input type="text" name="domicileCity"
								ng-model="candidateCustom.domicileCity"
								class="form-control input-sm" placeholder="Inserisci citta' del domicilio" maxlength="100" />
						</div>
					</div>

					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="domicileStreetName">Via</label>
						<div class="col-md-7">
							<input type="text" name="email"
								ng-model="candidateCustom.domicileStreetName"
								class="form-control input-sm"
								placeholder="Inserisci via del domicilio" maxlength="100"/>
						</div>
					</div>

					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="domicileHouseNumber">Numero Civico</label>
						<div class="col-md-7">
							<input type="text" name="domicileHouseNumber"
								ng-model="candidateCustom.domicileHouseNumber"
								class="form-control input-sm"
								placeholder="Inserisci numero civico" maxlength="100"/>
						</div>
					</div>

					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="studyQualification">Titolo
							di studio</label>
						<div class="col-md-7">
							<input type="text" name="studyQualification"
								ng-model="candidateCustom.studyQualification"
								class="form-control input-sm"
								placeholder="Inserisci titolo di studio" maxlength="300" />
						</div>
					</div>

					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="mobile">Cellulare</label>
						<div class="col-md-7">
							<input type="text" name="mobile"
								ng-model="candidateCustom.mobile" class="form-control input-sm"
								placeholder="Inserisci cellulare" maxlength="20" minlength="5"/>
						</div>
					</div>

					<hr>

					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="graduate">Laurea</label>
						<div class="col-md-7">
							<input type="checkbox" ng-model="candidateCustom.graduate"
								name="graduate" class="form-control input-sm"
								ng-checked="{{candidateCustom.graduate}}" />
						</div>
					</div>
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="high_graduate">Laurea
							magistrale</label>
						<div class="col-md-7">
							<input type="checkbox" ng-model="candidateCustom.highGraduate"
								name="highGraduate" class="form-control input-sm"
								ng-checked="{{candidateCustom.highGraduate}}" />
						</div>
					</div>
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="still_high_study">Laurea/Laurea
							Magistrale in corso</label>
						<div class="col-md-7">
							<input type="checkbox" ng-model="candidateCustom.stillHighStudy"
								name="still_high_study" class="form-control input-sm"
								ng-checked="{{candidateCustom.stillHighStudy}}" />
						</div>
					</div>

					<hr>
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="immagine">Immagine <img src="../../a/img/info.png" width="25" height="25"
                                border="6" title="Formati: .jpg, .jpeg, .png Dimesione massima: 5MB" data-toggle="tooltip"></label>
						<div class="col-md-7">
							<input type="file" file-model="candidateCustom.files[0]"
								class="form-control input-sm" accept=".jpg, .jpeg, .png"
								onchange="loadFile(event)" /> <img
								src="{{candidateCustom.imgpath}}" id="output" width="60"
								height="60" border="0" />

						</div>
					</div>
					<script>
						var loadFile = function(event) {
							var output = document.getElementById('output');
							output.src = URL
									.createObjectURL(event.target.files[0]);
							console.log("output.src : " + output.src);
						};
					</script>

					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="cvExternalPath">Curriculum
							Vitae<img src="../../a/img/info.png" width="25" height="25"
                                border="6" title="Formati: .docx, .pdf, .doc Dimesione massima: 5MB" data-toggle="tooltip"></label>
						<div class="col-md-7">
							<input type="file" file-model="candidateCustom.files[1]"
								class="form-control input-sm" accept=".docx, .pdf, .doc" /> <label
								class="col-md-2 control-lable" for="oldCVpath">CV file
								presente</label> <input type="text" class="form-control input-sm"
								value="{{candidateCustom.cvExternalPath}}" id="output2" readonly />
						</div>
					</div>

					<div align="center">

						<input type="submit" value="Modifica"
							class="btn btn-primary btn-sm">
						<!-- 					<button type="button" ng-click="resetForm()" -->
						<!-- 						class="btn btn-warning btn-sm">Reset Form</button> -->
						<a href="#/list-all-candidates" type="button"
							class="btn btn-danger btn-sm">Indietro e annulla</a> <input
							type="hidden" name="id" id="userId"
							ng-model="candidateCustom.userId"
							value="{{candidateCustom.userId}}"> <input type="hidden"
							name="oldImg" id="oldImg" ng-model="candidateCustom.oldImg"
							value="{{candidateCustom.imgpath}}"> <input type="hidden"
							name="oldCV" id="oldCV" ng-model="candidateCustom.oldCV"
							value="{{candidateCustom.cvExternalPath}}">

					</div>
				</form>
			</div>
		</div>
	</div>
</div>